.CurrrentWeather {
  .content {
    color: #fff;
    background: rgba(3, 0, 0, 0.354);
    border-radius: 10px;
    .hero {
      display: flex;
      align-items: center;
      gap: 15px;

      .temp {
        font-size: 80px;
        font-weight: bold;
        color: #fff;
      }

      .city {
        h1 {
          font-size: 28px;
          font-weight: bold;
          text-align: center;
        }

        h4 {
          font-size: 16px;
          font-weight: 400;
          color: rgb(255, 255, 255);
        }
      }

      .weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 100px;
          height: auto;
        }

        p {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}
