.back {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.currentWeather {
  order: 1;
  margin-top: 70vh;
  @media (max-width: 768px) {
    margin-top: 0;
    order: 2;
  }
}

.search {
  order: 2;
  @media (max-width: 768px) {
    order: 1;
  }
}

.weadPage {
  margin-top: 15vh;
  order: 3;
  @media (max-width: 768px) {
    margin: 0 auto;
    order: 3;
  }
}
