.main {
  width: 90%;
  margin: 0 auto;
  .back {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
  }
}
