.LayoutPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: #23233b;

  .scitka {
    background: #57d9a6;
    color: #000;
    text-align: center;
  }
  footer {
    margin-top: auto;
  }
}
